---
import ContactButton from "../ContactButton/ContactButton.astro";
import { LuMail } from "react-icons/lu";
import { FaLinkedin } from "react-icons/fa";
import { FaWhatsapp } from "react-icons/fa";
import { FaGithub } from "react-icons/fa";
---

<div class="grid grid-cols-2 p-4 h-full w-full my-10">
  <div class="relative h-full">
    <h2 class="text-4xl sticky top-10">CONTACT</h2>
  </div>
  <div class="flex flex-col gap-4">
    <ContactButton
      copyText="lugoleandro@hotmail.com"
      text="lugoleandro@hotmail.com"
      href="mailto:lugoleandro@hotmail.com"
    >
      <LuMail size="2rem" />
    </ContactButton>
    <ContactButton
      text="LinkedIn"
      copyText="lugotomasleandro"
      href="https://www.linkedin.com/in/lugotomasleandro/"
    >
      <FaLinkedin size="2rem" />
    </ContactButton>
    <ContactButton
      text="WhatsApp"
      copyText="+5491163304554"
      href="https://wa.me/5491163304554"
    >
      <FaWhatsapp size="2rem" />
    </ContactButton>
    <ContactButton
      copyText="MrSzasz"
      text="GitHub"
      href="https://github.com/MrSzasz"
    >
      <FaGithub size="2rem" />
    </ContactButton>
  </div>
</div>
