---
import { FaGithub } from "react-icons/fa";
---

<footer
  class="w-full flex justify-between items-center border-t-white/50 text-white border-t md:py-4 py-2 px-4 bg-dark"
>
  <small class="md:text-xs text-[.5em]">Tomás Lugo - 2024</small>
  <a
    href="https://github.com/MrSzasz/Frontend_Portfolio"
    title="Source code"
    target="_blank"
    rel="noreferrer"
    class="cursor-none"
    data-interactive
  >
    <FaGithub className="text-xl md:text-3xl" />
  </a>
</footer>
