---
import { LuCopy, LuSend } from "react-icons/lu";
import { Button } from "../ui/button";
import { Toaster } from "react-hot-toast";

export interface Props {
  text: string;
  copyText: string;
  href: string;
}

const { text, copyText, href } = Astro.props;
---

<script>
  import toast from "react-hot-toast";

  const buttons = document.querySelectorAll("[data-copy]");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      // @ts-ignore
      navigator.clipboard.writeText(button.dataset.copy);
      toast("Successfully copied to clipboard");
    });
  });
</script>

<div class="flex gap-4 items-center pb-1 w-fit transition-all relative group">
  <div
    class="flex gap-4 items-center cursor-default pb-1 border-b border-b-transparent"
  >
    <slot />
    <span class="text-lg">
      {text}
    </span>
  </div>
  <div
    class="sticky left-[90%] opacity-0 group-hover:left-[110%] group-hover:opacity-100 flex gap-4 transition-all"
  >
    {
      copyText && (
        <Button asChild>
          <LuCopy data-copy={copyText} className="cursor-pointer" />
        </Button>
      )
    }
    <Button client:load asChild>
      <a href={href} target="_blank" rel="noopener noreferrer"> <LuSend /></a>
    </Button>
  </div>
  <Toaster position="bottom-right" client:load />
</div>
