<div
  class="w-[95vw] h-[90vh] border-white border-opacity-25 border flex flex-col justify-center p-4 rounded-2xl"
>
  <h1 class="text-6xl">TOMÁS LEANDRO LUGO</h1>
  <h2 class="text-3xl">FULL STACK DEVELOPER</h2>
</div>
