<div
  class="w-[90vw] h-[50vh] md:w-[80vw] md:h-[80vh] border-accent-foreground/50 border-opacity-25 border flex flex-col justify-center p-6 md:p-12 rounded-2xl bg-background/80"
  id="hero"
>
  <h1
    class="text-4xl md:text-6xl w-fit hover:bg-foreground hover:text-background transition-all md:px-2"
    data-cursor
  >
    TOMÁS LEANDRO LUGO
  </h1>
  <h2
    class="text-xl md:text-3xl w-fit hover:bg-foreground hover:text-background transition-all md:px-2"
    data-cursor
  >
    FULL STACK DEVELOPER
  </h2>
  <a
    href="#contact"
    data-cursor
    class="flex gap-2 group bg-green-700 py-1 px-2 rounded-full w-fit justify-center items-center mt-1 cursor-none border-2 border-transparent hover:border-green-500 transition-colors hover:bg-green-500"
  >
    <div
      class="w-3 h-3 aspect-square rounded-full bg-green-500 group-hover:bg-green-300 animate-pulse transition-colors"
    >
    </div>
    <small
      class="w-full group-hover:text-dark transition-colors text-xs text-foreground"
    >
      Available for hire
    </small>
  </a>
</div>
