<div
  class="w-[90vw] h-[50vh] md:w-[80vw] md:h-[80vh] border-white border-opacity-25 border flex flex-col justify-center p-6 md:p-12 rounded-2xl bg-[#050505]/80"
  id="hero"
>
  <h1
    class="text-4xl md:text-6xl w-fit hover:bg-white hover:text-black transition-all md:px-2"
    data-cursor
  >
    TOMÁS LEANDRO LUGO
  </h1>
  <h2
    class="text-xl md:text-3xl w-fit hover:bg-white hover:text-black transition-all md:px-2"
    data-cursor
  >
    FULL STACK DEVELOPER
  </h2>
</div>
