<div
  class="w-[80vw] h-[80vh] border-white border-opacity-25 border flex flex-col justify-center p-12 rounded-2xl bg-[#020202]/80"
>
  <h1 class="text-6xl">TOMÁS LEANDRO LUGO</h1>
  <h2 class="text-3xl">FULL STACK DEVELOPER</h2>
</div>
