<nav
  class="fixed text-sm md:text-base bottom-8 right-4 md:bottom-4 md:left-0 md:mx-auto w-fit"
>
  <ul
    class="flex gap-4 bg-[#050505]/75 px-3 md:px-2 py-1 backdrop-blur md:backdrop-blur-md"
  >
    <li class="w-max" data-interactive="" onclick="window.scrollTo(0, 0);">
      hero
    </li>
    <li class="w-max">
      <a href="#about" class="cursor-none" data-interactive>about me</a>
    </li>
    <li class="w-max">
      <a href="#projects" class="cursor-none" data-interactive>projects</a>
    </li>
    <li class="w-max">
      <a href="#contact" class="cursor-none" data-interactive>contact</a>
    </li>
  </ul>
</nav>
