---
import { Button } from "../ui/button";
import TechnologiesCarousel from "../TechnologiesCarousel/TechnologiesCarousel.astro";
import { DownloadIcon } from "@radix-ui/react-icons";
---

<div
  class="grid grid-cols-[min-content_auto] md:grid-cols-2 gap-4 md:gap-0 p-4 h-fit md:h-full w-full my-10"
  id="about"
>
  <div class="relative h-full col-end-2">
    <h3
      class="text-6xl md:text-7xl sticky top-10 rotateText md:normalText wk-h3"
    >
      ABOUT ME
    </h3>
  </div>

  <div class="flex flex-col gap-4 col-end-3">
    <section class="flex gap-4 items-center">
      <div>
        <img
          src="/about/profile.webp"
          title="Profile picture"
          alt="Profile picture"
          class="w-36 h-36 md:float-left mr-5 mb-4 md:mb-2 border-4 border-white mt-2"
        />
        <p class="text-balance mb-4">
          Hello there! My name is <span class="important-span">Tomas</span>. I'm
          a Full-Stack developer with focus on Front-End based in Argentina. My
          fascination with web development began when I discovered the power of
          editing web pages using the developer tools, and now <span
            class="important-span">this is my passion and profession.</span
          >
        </p>

        <p class="text-balance mb-4">
          During my studies, helping my classmates solving code problems or
          explaining complex concepts taught me the importance of <span
            class="important-span"
            >teamwork in the world of web development.</span
          >
        </p>

        <p class="text-balance mb-4">
          With <span class="important-span"
            >over 2 years of development experience</span
          >, I've learnt to create web applications with clear interfaces that
          highlight the main product.
        </p>

        <p class="text-balance mb-4">
          As a <span class="important-span">Full-Stack dev</span>, my main stack
          is based on NextJs for the Front and NodeJs with Express for the Back,
          with MySql for relational databases and MongoDB for non-relational
          databases.
        </p>

        <p class="text-balance mb-4">
          I invite you to <span class="important-span"
            >learn more about me, my experience and stack</span
          > by
          <a
            href="#projects"
            class="hover:bg-white hover:text-dark underline underline-offset-4 hover:no-underline transition-all"
            >looking at my projects</a
          >, downloading my CV, or <a
            href="#contact"
            class="hover:bg-white hover:text-dark underline underline-offset-4 hover:no-underline transition-all"
            >contacting me!</a
          >.
        </p>

        <p class="text-balance important-span w-fit">
          PS.: You also can visit my
          <a
            href="https://tomas-lugo-dev-roadmap.vercel.app/"
            target="_blank"
            class="hover:bg-white hover:text-dark underline underline-offset-4 hover:no-underline transition-all cursor-none"
            data-interactive>Roadmap [ESP].</a
          >
        </p>
      </div>
    </section>
    <TechnologiesCarousel />
    <Button
      className="font-bold w-fit rounded cursor-none"
      data-interactive
      variant="outline"
    >
      <a
        href="TomasLeandroLugoCV.pdf"
        target="_blank"
        class="flex gap-2 items-center cursor-none"
      >
        <DownloadIcon /> Download CV
      </a>
    </Button>
  </div>
</div>
