---
import { Button } from "../ui/button";
import TechnologiesCarousel from "../TechnologiesCarousel/TechnologiesCarousel.astro";
import { DownloadIcon } from "@radix-ui/react-icons";
---

<div
  class="grid grid-cols-[min-content_auto] md:grid-cols-2 gap-4 md:gap-0 p-4 h-fit md:h-full w-full my-10"
  id="about"
>
  <div class="relative h-full col-end-2">
    <h3 class="text-6xl md:text-7xl sticky top-10 rotateText md:normalText">
      ABOUT ME
    </h3>
  </div>

  <div class="flex flex-col gap-4 col-end-3">
    <!-- <section class="flex gap-4 items-center">
      <div>
        <img
          src="https://i.imgur.com/U6xhGpE.png"
          alt="Profile picture"
          class="w-36 h-36 md:float-left mr-5 mb-4 md:mb-2 border-4 border-white mt-2"
        />
        <p class="text-balance mb-4">
          Hello there! I'm Tomás, a passionate <span
            class="bg-white text-black font-bold px-1"
            >Full-stack Developer</span
          > based in Argentina.
        </p>

        <p class="text-balance mb-4">
          With a solid <span class="bg-white text-black font-bold px-1"
            >+2 years</span
          > of experience in programming and development, I specialize in cutting-edge
          technologies like <span class="bg-white text-black font-bold px-1"
            >Next.js, Express, MySQL, and more</span
          >.
        </p>

        <p class="text-balance">
          My insatiable curiosity and commitment to continuous improvement
          motivate me to delve into new technologies and <span
            class="bg-white text-black font-bold px-1"
            >enhance my skills each day</span
          >.
        </p>
      </div>
    </section> -->
    <section class="flex gap-4 items-center">
      <div>
        <img
          src="https://i.imgur.com/U6xhGpE.png"
          alt="Profile picture"
          class="w-36 h-36 md:float-left mr-5 mb-4 md:mb-2 border-4 border-white mt-2"
        />
        <p class="text-balance mb-4">
          Hello there! My name is <span
            class="bg-white text-black font-bold px-1">Tomas</span
          >. My fascination with web development began when I discovered the
          power of editing web pages using the developer tools, and now <span
            class="bg-white text-black font-bold px-1"
            >this is my passion and profession.</span
          >
        </p>

        <p class="text-balance mb-4">
          During my studies, helping my classmates solving code problems or
          explaining complex concepts taught me the importance of <span
            class="bg-white text-black font-bold px-1"
            >teamwork in the world of web development.</span
          >
        </p>

        <p class="text-balance">
          With over <span class="bg-white text-black font-bold px-1"
            >2 years of development experience</span
          >, I specialize in Next.js, Express, MySQL, and more.
        </p>
      </div>
    </section>
    <TechnologiesCarousel />
    <Button
      className="font-bold w-fit rounded cursor-none"
      data-interactive
      variant="outline"
    >
      <a
        href="TomasLeandroLugoCV.pdf"
        target="_blank"
        class="flex gap-2 items-center cursor-none"
      >
        <DownloadIcon /> Download CV
      </a>
    </Button>
  </div>
</div>
