---
import { LuBriefcase, LuUser } from "react-icons/lu";
import JobsAccordion from "../JobsAccordion/JobsAccordion";
import { projects } from "data";
import JobsDialog from "../JobsDialog/JobsDialog";
---

<div
  class="grid grid-cols-[min-content_auto] md:grid-cols-2 gap-4 md:gap-0 p-4 h-fit md:h-full w-full my-10"
  id="projects"
>
  <div class="relative h-full">
    <h3 class="text-6xl md:text-7xl sticky top-10 rotateText wk-h3">
      PROJECTS
    </h3>
  </div>

  <div>
    <JobsAccordion projects={projects} client:load />
    <div class="flex justify-between my-2">
      <div class="flex md:gap-6 gap-4 pt-2 text-sm opacity-50">
        <div class="flex gap-2 items-center">
          <LuUser className="opacity-50" />
          <small>Personal</small>
        </div>
        <div class="flex gap-2 items-center">
          <LuBriefcase className="opacity-50" />
          <small>Work</small>
        </div>
      </div>
      <JobsDialog projects={projects} client:load />
    </div>
  </div>
</div>
