---
export interface Props {
  isHero?: boolean;
  isFirst?: boolean;
}

const { isHero, isFirst } = Astro.props;

const classes = {
  heroClasses:
    "h-[100svh] grid place-items-center text-white sticky top-0 bg-[url('/bg/bg.gif')] bg-[center_bottom] md:bg-[center_175%] bg-repeat-x",
  firstContainerClasses:
    "h-fit md:min-h-screen md:h-fit grid place-items-center text-white md:px-[10%] pt-[5%] md:pt-[10%] bg-[#020202] rounded-t-[7.5%] border-t border-white border-opacity-25 relative",
  defaultClasses:
    "h-fit md:min-h-screen md:h-fit grid place-items-center text-white md:px-[10%] bg-[#020202] relative",
};
---

<section
  class={isHero
    ? classes.heroClasses
    : isFirst
      ? classes.firstContainerClasses
      : classes.defaultClasses}
>
  <slot />
</section>
