---
import CustomCursor from "@/components/CustomCursor/CustomCursor.astro";
import "@fontsource/dm-mono";

import "@fontsource/kanit";

import "../styles/globals.css";
import ThemeChanger from "@/components/ThemeChanger/ThemeChanger.astro";
---

<script>
  import Lenis from "@studio-freight/lenis";

  const lenis = new Lenis({
    lerp: 0.07,
    wheelMultiplier: 1,
  });

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);

  document.querySelectorAll('a[href^="#"]').forEach((el) => {
  el.addEventListener('click', (e) => {
    e.preventDefault()
    const id = el.getAttribute('href')?.slice(1)
    if (!id) return
    const target = document.getElementById(id)
    if (target) {
      target.scrollIntoView({ behavior: 'smooth' })
    }
  })
})
</script>

<html lang="en">
  <!-- TODO => Try the I18n addon for spanish language -->
  <head>
    <meta charset="UTF-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href="https://lugo-tomas-portfolio.vercel.app" />
    <meta
      name="description"
      content="Welcome to my portfolio—a showcase of my skills in Front-end and Back-end. Dive into my projects with a fresh design as you journey through my experiences"
    />
    <meta
      name="keywords"
      content="HTML, HTML5, CSS, CSS3, SCSS, SASS, JavaScript, TypeScript, React, Node.js, Astro, Tailwind, ShadCN, SQL, Next.js, Portfolio, Tomás, Lugo, Lugo Tomás, Tomás Lugo, dev, developer, development, contact, freelance, pedidosya, testing, personal, web, desarrollo, desarrollador, trabajo, freelance, skills, front, front-end, frontend, back, back-end, stack, backend, projects, professional, experience"
    />
    <meta name="author" content="Tomás Lugo" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/icons/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/icons/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/icons/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/icons/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/icons/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/icons/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/icons/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon-180x180.png"
    />
    <meta property="og:title" content="TOMAS LUGO = PORTFOLIO" />
    <meta property="og:site_name" content="TOMAS LUGO = PORTFOLIO" />
    <meta property="og:url" content="https://lugo-tomas-portfolio.vercel.app" />
    <meta
      property="og:description"
      content="Welcome to my portfolio—a showcase of my skills in Front-end and Back-end. Dive into my projects with a fresh design as you journey through my experiences"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/jobs/job1.webp" />
    <meta name="generator" content={Astro.generator} />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Tomas Lugo Portfolio",
        "url": "https://lugo-tomas-portfolio.vercel.app/",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "{search_term_string}",
          "query-input": "required name=search_term_string"
        },
        "person": {
          "@context": "https://schema.org/",
          "@type": "Person",
          "name": "Tomas Leandro Lugo",
          "url": "https://lugo-tomas-portfolio.vercel.app/",
          "image": "https://i.imgur.com/feiSumk.png",
          "jobTitle": "Full Stack Developer",
          "worksFor": {
            "@type": "Organization",
            "name": "Freelance"
          },
          "sameAs": [
            "https://www.linkedin.com/in/lugotomasleandro/",
            "https://github.com/MrSzasz"
            "https://lugo-tomas-portfolio.vercel.app/"
          ]
        }
      }
    </script>
    <title>TOMAS LUGO = PORTFOLIO</title>
  </head>
  <body class="cursor-none">
    <div
    class="fixed z-50 top-4 right-4 animate-fade-in-left animate-delay-1000"
    data-interactive
  >
    <ThemeChanger/>
  </div>
    <slot />
    <CustomCursor />
  </body>
</html>
